<!-- ヘッダーパーシャル-->

  <header class="header">
      <div class="header__bar">
        <h1><a href="http://localhost:3000">
        <img class="header_logo" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="Potepan Share"></a></h1>

        <!-- もし既にサインインしていた場合-->
        <% if user_signed_in? %>          
          <div class="gnavi__wrap">
              <ul class="gnavi__lists">
                  <li class="gnavi__list">
                      <a href="#" class ="header_menu"><%= current_user.name %></a>
                      <ul class="dropdown__lists">
                          <li class="dropdown__list"><a href="/rooms/new">施設の新規登録</a></li>
                          <li class="dropdown__list"><a href="/reservations">予約済み一覧</a></li>
                          <li class="dropdown__list"><a href="/rooms/own">登録済み一覧</a></li>
                          <li class="dropdown__list"><a><%= link_to "アカウント設定", users_account_path %></a></li>
                          <li class="dropdown__list"><a><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a></li>
                      </ul>
                  </li>
              </ul>
          </div>

        <!-- まだサインインしていない場合-->
        <% else %>
          <div class="user_resigter">
            <%= link_to "ログイン", new_user_session_path, class: 'login' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'register_new' %>
          </div>

        <% end %>
      </div>
  </header>
