<h3>予約済み一覧</h3>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>合計料金</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日時</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%=image_tag reservation.room.image, size: '120x70' %></td>
        <!--下記roomの詳細へのpathは、引数としてidを渡す必要あり。(reservation.room)-->
        <td><%= link_to "#{reservation.room.name_of_hotel}", room_path(reservation.room) %></td>
        <td><%= reservation.room.introduction %></td>
        <td><%= reservation.amount_of_price %></td>
        <td><%= reservation.checkin_date.strftime("%Y/%m/%d") %></td>
        <td><%= reservation.checkout_date.strftime("%Y/%m/%d") %></td>
        <td><%= reservation.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= link_to "再予約", edit_reservation_path(reservation.id) %></td>
        <td><%= link_to "予約を削除", reservation, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
