<h1>Reservations#index</h1>
<p>予約済み一覧ページです。編集中。</p>

<h3>予約済み一覧</h3>
 
 <table>
   <thead>
     <tr>
       <th>画像</th>
       <th>施設名</th>
       <th>紹介文</th>
       <th>合計料金</th>
       <th>チェックイン</th>
       <th>チェックアウト</th>
       <th>予約確定日時</th>
     </tr>
   </thead>

   <!--<tbody>
     <% @reservations.each do |reservation| %>
       <tr>
         <td><%= reservation.img %></td>
         <td><%= reservation.name_of_hotel %></td>
         <td><%= reservation.introduction %></td>
         <td><%= reservation.amount_of_money %></td>
         <td><%= reservation.checkin_date %></td>
         <td><%= reservation.checkout_date %></td>
         <td><%= reservation.created_at %></td>
       </tr>
     <% end %>
   </tbody>-->
 </table>
