
<% if flash[:success] %>
  <p class="success"><%= flash[:success] %></p>
<% end %>

<p><%= link_to "←戻る", own_rooms_path %></p>
<p><%= link_to "編集", edit_room_path(@room.id) %></p>

<div class ="container">

  <div class ="image_zone">
    <p><%= image_tag @room.image %></p>
  </div>

  <div class ="details_of_hotel">
    <p><%= @room.name_of_hotel %></p>
    <p>¥<%= @room.price %>〜</p>
    <p>★★★★★</p>
    <p><%= @room.address %></p>
    <p><%= @room.introduction %></p>
  </div>
  <!--reservations/confirmへ-->
  <%= form_with model: @reservation, url: confirm_reservations_path(@reservation), local: true do |f| %>
  <%= f.hidden_field :room_id, value:@room.id %>
  <%= f.hidden_field :user_id, value:@user.id %>
  <table>
    <tr>
      <th><%= f.label :checkin_date, "チェックイン", class: "control-label" %></th>
      <td><%= f.date_field :checkin_date, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :checkout_date, "チェックアウト", class: "control-label" %></th>
      <td><%= f.date_field :checkout_date, class: "form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :number_of_people,"人数" %></th>
      <td><%= f.text_field :number_of_people %></td>
    </tr>

  </table>
  <div>
    <ul>
      <li><%= f.submit "予約する"%></li>
    </ul>
  </div>
  <% end %>

</div>